/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : March 16, 2015
    Author     : Redoy
*/


/*================================  Blogs  ================================*/

/*================================  Left Category  ================================*/
.video_ul,.category_ul{
    list-style-type:none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.video_ul{
    line-height: 28px;
    font-size: 13px;
}
.category_ul{
    line-height: 22px;
    font-size: 10px;
}
.video_ul a,.category_ul a{
    text-decoration: none;
    color: black;
}

.video_ul a li:hover,.category_ul a li:hover{
    display: block;
    border-radius: 3px;
    cursor: pointer;
    background-color: #888888!important;
    color: white!important;
    padding-left: 4px;
    font-weight: bold;
}
.video_ul a li:hover{
    border-radius: 3px;
}

/*================================  Add Blogs  ================================*/
.padding_top_over_row{
    padding-top: 20px;
}

