/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2014, 4:05:42 PM
    Author     : Tanveer + Redoy
*/


/*================================  global  ================================*/


/*================================  tmpl  ================================*/

html, body {
    margin:0;
    padding:0;
    height:100%;
    font-size: 10px!important;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#footer {
    background-color: #E9EAED;
    width:100%;
    height: 60px;
    position: relative;
    bottom:0;
    left:0;
}

/*================================  COMPONENTS  ================================*/
.mm_input{
    width:100%;  
    height:30px;  
    padding:0px 10px;  
    font-size:16px;  
    color:#555;      
    background-color:#fff;  
    background-image:none;  
    border:1px solid #ccc;  
    border-radius:2px;  
}

.mm_thumb_big{
    height: 100px;
    width: 100px;
    margin-right: 15px;
    display: inline-block;
}
.mm_thumb{
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: inline-block;
}
.mm_thumb_comment{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    display: inline-block;
}

/*================================  SECTIONS  ================================*/
#mm_friend_request {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

#mm_messages {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

#mm_notification {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

#mm_setting {
    display: inline-block;
    cursor: pointer;
}

#mm_notification_box, #mm_message_box, #mm_friend_request_box{
    display: none;
    width: 400px;
    position: absolute;
    top: 40px;
    right: 1px;
    border: 1px solid darkgray;
    border-radius: 4px;
    box-shadow: 0 0 6px #491249;
    background-color: white;
    color: black;
}


/*================================  pagelets  ================================*/
.comment_box{

}
.pagelet_title{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
.pagelet{
    background-color: white;
    padding: 15px;
    margin-bottom: 1px;
    box-shadow: 0 0 1px #bbb;
}
.pagelet_divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
.user_comment{
    padding: 5px 0px 5px 0px; 
}




/*================================  Landing Page  ================================*/
/*================================  Hridoys css  ================================*/

.ticker_friends{
    background-color: #E9EAED;
    padding: 10px;
    font-size: 11px;
    border-bottom: 1px solid lightgray;
}
.ticker_friends:hover,
.message_friends_box:hover,
.message_friends:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.message_friends{
    background-color: white;
    font-size: 12px;
    padding: 10px;
    border: 1px solid lightgray;
}
.message_friends_box,.message_friends_box_1{
    background-color: white;
    font-size: 12px;
    padding: 10px;
}
.message_text:hover{
    cursor: pointer;
    opacity: 0.7;
}
.message_friends_divider_full,.message_friends_divider_others{
    padding: 5px 8px;
    border: 1px solid lightgray;
    border-top: 0px;
}
.message_friends_divider_full{
    border-top: 1px solid lightgray;
}
.border_without_bottom{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/*================================  Left Menu  ================================*/
.video_ul{
    list-style-type:none;
    line-height: 28px;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.video_ul a{
    text-decoration: none;
    color: black;
}
.video_ul a li:hover{
    display: block;
    border-radius: 3px;
    cursor: pointer;
    background-color: #888888!important;
    color: white!important;
    padding-left: 4px;
    font-weight: bold;
    border-radius: 3px;
}
.category_divider{
    border-bottom: 1px solid lightgray;
}

/*================================  Admin Panel  ================================*/
.borber_box_full,.borber_box_others{
    padding: 10px;
    border: 1px solid lightgray;
    border-top: 0px;
    border-radius: 5px;
}
.borber_box_full{
    border-top: 1px solid lightgray;
}
.text_center{
    text-align: center;
}
.font_25px{
    font-size: 25px;
}
.pagelet_padding{
    padding: 0px!important;
}
/*================================  Search video icon ================================*/

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 6px;
}

/*================================  Member templete ================================*/
.body_wrapper{
    position: relative; 
    background-color: #E9EAED;
}
.header_wrapper{
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 20; 
    box-shadow: 0 4px 4px -2px gray;
}
.container_wrapper{
    background-color: #703684; 
    color: white; 
    padding: 6px 9px
}
.padding_top{
    padding-top: 49px;
}
.padding_top_30px{
    padding-top: 30px;
}
.padding_top_20px{
    padding-top: 20px;
}
.padding_top_10px{
    padding-top: 10px;
}
.padding_top_5px{
    padding-top: 5px;
}
.padding_5px{
    padding: 5px;
}
.padding_10px{
    padding: 10px;
}
.container_background{
    background-color: #E9EAED;
}
.ticker_friends_wrapper{
    position: fixed; 
    height: 300px;
    z-index: 1001;
}

.textarea-custom{
    resize: none; 
    border-radius: 0;
}



/*================================  font size ================================*/
.font_10px{
    font-size: 10px;
}
.font_11px{
    font-size: 11px;
}
.font_12px{
    font-size: 12px;
}
.font_13px{
    font-size: 13px;
}

/*================================  Middle column section  ================================*/
.pagination_margin{
    margin: 0!important;
}

.anchor_property_change{
    text-decoration: none!important;
    cursor: pointer;
    color: black!important;
}

.comments_box{
    background-color: #f5f5f5; 
    padding: 10px; 
    border-radius: 5px;
}
/*------------------------------------------------------------------------------------------------*/
.padding_top_over_row{
    padding-top: 20px; 
}
.padding_top_over_row_70px{
    padding-top: 70px; 
}
.padding_top_over_row_30px{
    padding-top: 30px; 
}

/*================================  Left Menu  ================================*/
.video_ul,.category_ul{
    list-style-type:none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.video_ul{
    line-height: 28px;
    font-size: 12px;
}
.category_ul{
    line-height: 22px;
    font-size: 10px;
}
.video_ul a,.category_ul a{
    text-decoration: none!important;
    color: black;
}

.video_ul a li:hover,.category_ul a li:hover{
    display: block;
    border-radius: 3px;
    cursor: pointer;
    background-color: #888888!important;
    color: white!important;
    padding-left: 4px;
    font-weight: bold;

}
.video_ul a li:hover{
    border-radius: 3px;
    text-decoration: none;
}


/*------------------------------------invite (footer)-------------------------------------*/

.invite_item_style{
    padding: 8px 0;
    border-top: 1px solid lightgray;
}
.invite_item_style:hover{
    background-color: #EDEFF4;
    cursor: pointer;
}


/*-------------------------------------msg box--------------------------------------*/
/*.msg_box_1{
        background-color: #703684;
    }
.msg_box_2{
        background-color: #842D80;
        background-color: #581072;
        background-color: #703684;
    }
.msg_box_3{
        background-color: #703684;
    }*/

.common_box{
    background-color: #703684;
}
.msg_box{
    position: absolute;
    width: 260px;
   
}

.msg_box_1, .msg_box_2, .msg_box_3{
    position: absolute;
    width: 260px;
   
}

.float_box_left{
    left: 260px;
}
.msg_box_1{
    right: 375px;
}
.msg_box_2{
    right: 635px;
    margin-right: 15px;
}
.msg_box_3{
    right: 895px;
    margin-right: 30px;
}
.msg_box_position_1{
    right: 375px;
}
.msg_box_position_2{
    right: 635px;
    margin-right: 50px;
}
/*.msg_box_position_3{
    right: 895px!important;
}*/

.msg_box_counter{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom:  8px;
    left: 25px;
    text-align: center;
    background-color: #703684;
    color: #fff;
    border-radius: 2px;
    padding: 1px 3px;
}

.dropdown-menu-custom {

}

/*.style_left_box{
    margin-left: 30px;
    margin-right: -30px;
}
.style_middle_box{
    margin-left: 20px;
    margin-right: -12px;
}*/
.textarea_background_style{
    border: 1px solid lightgray; 
    padding-top: 5px; 
    padding-bottom: 5px;
}
.chatting_textarea_box_1, .chatting_textarea_box_2, .chatting_textarea_box_3{
    background-color: #fff;
    border: 1px solid #703684;
    border-radius: 3px;
    box-shadow: none;
    resize: none;
    width: 165px!important;
    overflow-y: scroll;
    height: 32px;
}
.chatting_input_area{
    background-color: #fff;
    border: 1px solid #703684;
    border-radius: 3px;
    box-shadow: none;
    resize: none;
    width: 165px!important;
    overflow-y: scroll;
    height: 32px;
    margin-left: 5px;
}

.MiniBoxesUser > a{
    text-decoration: none;
}
.MiniBoxesUser{
    width: 115%;
}
.MiniBoxesUser:hover{
    background-color: #703684;
}

.message_owner_content_style, .message_friend_content_style {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0 10px;
    text-align: left;
    border-radius: 5px;
    word-wrap: break-word;
    max-width: 600px;
    font-size: 9px;
    font-weight: bold;
}
.message_owner_content_style{
    background-color: #9A70AD;
    color: #fff;
}
.message_friend_content_style {
    background-color: #F8F9F9;
}

.message_owner_style::before {
    background-color: #9A70AD;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    content: "";
    height: 8px;
    position: absolute;
    right: 17px;
    top: 6px;
    transform: rotate(-45deg);
    width: 8px;
}
.message_friend_style::before {
    background-color: #F8F9F9;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    content: "";
    height: 10px;
    position: absolute;
    left: 10px;
    top: 8px;
    transform: rotate(45deg);
    width: 10px;
}

.counterPosition{
    position: absolute; 
    background-color: #E5E5E5; 
    padding: 5px 0; 
    font-size: 10px!important;
    right: 1215px;
    top: 195px;
}

/*-------------------------------------CK editor--------------------------------------*/
.cke_1 .cke_top {
    background-image: -moz-linear-gradient(center top , #A848CE, #CA79EA)!important;
    border-bottom-color: lightgrey!important;
}
.cke_1.cke_chrome {
    border-color: lightgrey!important;
}
.cke_1 .cke_bottom {
    background-image: -moz-linear-gradient(center top , #9b69ad, #9b69ad)!important;
    border-top-color: lightgrey!important;
}
.cke_path_item, .cke_path_empty {
    text-shadow: none!important;
    cursor: none!important;
    color: lavender
}

.cke_1 a.cke_path_item:hover, .cke_1 a.cke_path_item:focus, .cke_1 a.cke_path_item:active {
    background-color: lavender!important;
}

.cke_reset_all, .cke_reset_all * {
    color: black!important;

}
.cke_1 .cke_toolgroup {
    background-image: none!important;
    border-color: #E9EAED!important;
}
.cke_1 .cke_combo_button {
    background-image: none!important;
    border-color: #E9EAED!important;
}

.cke_1 .cke_button_on {
    background-image: none!important;
    background-color: #E9EAED!important;
}

a.cke_button_on:hover, a.cke_button_on:focus, a.cke_button_on:active {
    box-shadow: none!important;
}
a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
    background: #FFA500!important;
    box-shadow: none!important;

}

/*-------------------------------------Header (Auth)--------------------------------------*/

.margin_style{
    /*    margin-left: -12px;
        margin-right: 12px;*/
}


@media all and (max-width: 991px){
    .margin_style{
        margin-left: 0!important;
        margin-right: 0!important;
    }
}
@media all and (max-width: 767px){
    .padding_style{
        padding-bottom: 15px;
    }

}
@media all and (min-width: 992px){
    .mrg_left{
        margin-left: -7%;
    }
}

/*================================  Admin Panel  ================================*/
.admin_panel_left_menu_ul{
    list-style-type:none;
    line-height: 20px;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.admin_panel_left_menu_ul a{
    text-decoration: none;
    color: black;
}
.admin_panel_left_menu_li ul{
    list-style-type: none; 
    cursor: pointer; 
    padding-left: 18px;
}
.admin_panel_left_menu_ul a li:hover{
    display: block;
    border-radius: 3px;
    cursor: pointer;
    background-color: #888888!important;
    color: white!important;
    padding-left: 4px;
    font-weight: bold;
    border-radius: 3px;
}

.category_divider{
    border-bottom: 1px solid lightgray;
}

/*--------------------------------------Non Friend Profile----------------------------------*/
.dropdown_style{
    position: absolute!important; 
    bottom: 15px; 
    right:  30px; 
    font-size: 80%;
    margin: 5px;
}
.dropdown_addFriend_style{
    position: absolute!important; 
    bottom: 15px; 
    right:  140px; 
    font-size: 80%;
    margin: 5px;
}

.arrow_box {
    position: relative;
    background: #703684;
    border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #703684;
    border-width: 8px;
    margin-top: -8px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #703684;
    border-width: 0px;
    margin-top: 0px;
}

.dropdown-menu > li > a {
    padding: 1px 10px!important;
}
.dropdown-menu > li > a:hover {
    color: #fff!important;
    background-color: #703684!important;
}

.btn_style {
    padding: 4px 12px;
}

.img_caption{
    position: relative;
    left: 0;
    right: 0;
    bottom: 5px;
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    font-size: 10px;
    word-wrap: break-word;
    cursor: pointer;
}

.friend_list_img_style{
    list-style-type: none; 
    padding: 0px;
    margin: 0px;    
}

.friend_list_img_style a img{
    height: 90px;
    width: 80px;
}
.non_friend_pagelet_header_anchor_style{
    color: black;
}

.photo_list_img_style a img{
    height: 90px;
    width: 85px;
    padding-bottom: 10px;
}

/*------------------------------------------- Admin --------------------------------- */
.button-custom, .button-custom:hover,.button-primary-custom,.button-primary-custom, .button-danger-custom, .button-danger-custom:hover {
    color: #fff;
    border-radius: 3px;
    padding: 4px 8px;
    line-height: 16px;
}
.button-custom, .button-custom:hover {
    background-color: #703684;
    border: 1px solid #703684;
}
.button-primary-custom{
    background-color: #428bca;
    border: 1px solid #357ebd;
}
.button-primary-custom:hover {
    background-color: #3071a9;
    border: 1px solid #285e8e;
}
.button-danger-custom{
    background-color: #d9534f;
    border-color: #d43f3a;
}
.button-danger-custom:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}


/*------------------------------------------- Member (About) --------------------------------- */

.header_label_style{
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
}

.holder_style{
    margin-left: 8px;
    font-size: 16px;
    vertical-align: middle;
}
.holder_style:hover{
    text-decoration: none;
}
.cursor_holder_style{
    cursor: pointer;
}
.subcategory_label_style{
    font-size: 14px;
    vertical-align: central;
}
.achor_holder_style{
    cursor: pointer;
    font-size: 13px;
}
.achor_holder_style:hover{
    text-decoration: none;
}

.status_label_style{
    padding: 5px 8px;
}
.status_label_style:hover{
    cursor: pointer;
    background-color: #703684;
    color: #fff;
    font-weight: bold;
    padding: 5px 8px;
}
/*.user_brief_card
{
    border: 4px solid lightgray; 
    padding: 6px; 
    background-color: white;
}*/


/* ------------------------- sign up page's single image style ----------------------------*/

.user_brief_card:hover
{
    box-shadow: 0 8px 6px -6px red;
}
.label_padding_top_single_image{
    padding-top: 5px;
    height: 45px;
    font-size: 12px;
    padding-left: 5px;
}
.img_pad_mar_top_single_image{
    padding-top: 5px;
    margin-right: 10px;
}
.brand_cover_single_image{
    position: absolute;
    height: 120px;
    width: 100%;
    z-index: 11;
    background-color: #703684;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}
.brand_single_image{
    text-indent: 2px;
    border-radius: 3px;
    height: 120px;
    width: 100%;
    position: relative;
    background-color: lightgray;
}
.info_style_single_image{
    text-indent: 2px;
    font-size: 10px;
    color: #703684;
    font-weight: bold;  
}

.overflow-y{
    width: 8px;
}
/* ------------------------- reponsive style ----------------------------*/

@media all and (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media all and (min-width: 1200px){

}

/* ------------------------- newsfeed ----------------------------*/

.dropdown-menu {
    font-size: 11px;
    min-width: 80px;
    cursor: pointer;
}

.default_button{
    background-color: #703684;
    border: 1px solid #703684;
    border-radius: 3px;
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    line-height: 15px;
    font-weight: bold;
}

.modal_cancel_button_style{
    background-color: #703684; 
    font-size: 14px; 
    opacity: 1; 
    border: 1px solid #703684; 
    color: #fff; 
    font-weight: bold; 
    padding: 6px 12px; 
    border-radius: 3px; 
    text-shadow: none;  
}
.modal_cancel_button_style:hover{
    background-color: #703684!important; 
    color: #fff!important; 
    opacity: 1;
}

.form_control_custom_style{
    height: 30px;
    padding: 3px;
}

.well {
    background-color: #fff;
    border: 0px;
    box-shadow: none;
    margin-bottom: 0px;
    min-height: 0px;
    padding: 0px;
    border-radius: 0px;
}
.textarea_custom_style{
    resize: none;
}
.button_border_remover{
    border: 0px;
}
.tooltip-inner {
    text-align:left;
}


.close_margin_style{
    margin-left: 20px;
}


.tooltip_hover {
    position: absolute;
}

.tooltip_style {
    padding: 5px;
    top: -30px;
    left: 8px;
    background-color:black;
    color:white;
    border-radius:5px;
    opacity:0;
    position:absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition:  opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition:  opacity 0.5s;
    transition:  opacity 0.5s;
}

.tooltip_hover:hover .tooltip_style {
    opacity:1;
}
.ticker_divider{
    border: 2px solid lightgray;
}
.ticker_vertical_font_align{
    padding-top: 12%;
    vertical-align: middle!important;
}
.display_hidden{
    /*display: none;*/
}

.member_about_save_button,.member_about_save_button:hover,.member_about_save_button:focus,.member_about_save_button:active{
    background-color: #703684; 
    color: #fff; 
    margin-right: -15px;
    border: 1px solid #703684;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
}
.member_about_cancel_button,.member_about_cancel_button:hover,.member_about_cancel_button:focus,member_about_cancel_button:focus{
    background-color: #703684; 
    color: #fff; 
    border: 1px solid #703684;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
}

.contact_background,.carrer_bg{
    background-color: #E9EAED;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.modal_content_row_border_full{
    padding: 5px;
    margin: 5px;
    border: 1px solid lightgray;
}


.common_content_delete{
    font-size: 15px;
    font-weight: bold;
}


.notification_counter{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom:  10px;
    left: 10px;
    text-align: center;
    background-color: red;
    border-radius: 2px;
    padding: 1px 3px;
}

.custom_form_group{
    margin-bottom: 5px!important
}

.progress_custom{
    margin-bottom: 5px!important;
}
