/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : March 23, 2015
    Author     : Redoy
*/


/*================================  fund  ================================*/
.padding_top_over_row{
    padding-top: 20px;
}
/*================================  Left Category  ================================*/
.category_ul{
    list-style-type:none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-size: 10px;
}
.category_ul a{
    text-decoration: none;
    color: black;
}
.category_ul a li:hover{
    display: block;
    border-radius: 3px;
    cursor: pointer;
    background-color: #888888!important;
    color: white!important;
    padding-left: 4px;
    font-weight: bold;
}
/*================================  home  ================================*/
.fund_rising_border_style {
    background-color: linen;
    border: 5px solid lightgray;
    border-radius: 8px;
    float: left;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.fund_rising_naming_style{
    font-size: 12px; 
    font-weight: bold; 
    text-align: justify;
}
.fund_rising_naming_style:hover{
    cursor: pointer;
    text-decoration: none;
    color: lightseagreen;
}
.stat_numbers {
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.stat_name {
    opacity: 0.6;
    font-size: 12px;
}
.raise_numbers {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.raise_name,.newsfeed_raise_names_medium, .newsfeed_raise_names_big {
    opacity: 0.6;
    font-size: 14px;
}

/*================================  newsfeed  ================================*/

.newsfeed_border_style{
    background-color: lightgray;
    border-radius: 8px;
    float: left;
    height: 320px;
    width: 100%;
    padding: 5px;
}
.newsfeed_raise_numbers_medium{
    font-size: 18px;
    font-weight: bold;
}
.newsfeed_raise_numbers_big{
    font-size: 36px;
    font-weight: bold;
}
.newsfeed_divider{
    border-bottom: 1px solid lightgray;
}
.donor_ul{
    list-style-type: none;
    font-size: 12px;
    margin: 5px;
    padding: 5px;
}
.donor_ul li:hover{
    background-color: #FFFFDF;
}


.donor_view a, .donor_view a:hover {
    background: #f9f9f9;
    border: 1px solid #dfdfdf;
    display: block;
    line-height: 25px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
}
.donor_view a:hover {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}

#des_after,#don_after,#up_after,#ab_after{
    display: none
}
li.submenu-active a{
    background-color: lightpink;
    color: lightcoral;
    display: block;
    font-weight: bold;
}

