/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : March 15, 2015
    Author     : Redoy
*/


/*================================  Pages  ================================*/

/*================================  Left Category  ================================*/
.video_ul,.category_ul{
    list-style-type:none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.video_ul{
    line-height: 28px;
    font-size: 13px;
}
.category_ul{
    line-height: 22px;
    font-size: 10px;
}
.video_ul a,.category_ul a{
    text-decoration: none;
    color: black;
}

.video_ul a li:hover,.category_ul a li:hover{
    display: block;
    border-radius: 3px;
    cursor: pointer;
    background-color: #888888!important;
    color: white!important;
    padding-left: 4px;
    font-weight: bold;
}
.video_ul a li:hover{
    border-radius: 3px;
}


/*---------------------------------Add a Page -------------------------------*/

.label_padding_top{
    padding-top: 10px;
}
.img_padding_top{
    padding-top: 35px;
}

.brand_cover{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: #CCBC90;
    border-radius: 8px;
    text-align: center;

}
.brand{
    border-radius: 8px;
    min-height: 220px;
    position: relative;
    background-color: lightgray;
}
/*--------------------------------- pagelets -------------------------------*/
.title_info {
    margin-left: 30px;
    min-height: 55px;
}
.link{
    font-size: 16px;
    font-weight: bold;
}
.title_info, .extra_info {
    margin-bottom: 4px;
    margin-top: 4px;
}
extra_info{
    color: #808080;
    padding: 4px 0;
}
.extra_info_middot {
    list-style-type: inline;
    margin: 0;
    padding: 0;
}
.extra_info_middot li{
    display: inline;
    padding-right: 6px;
}
.borber_style{
    border: 1px solid lightgray;
    border-radius: 5px;
}
.like_number{
    font-weight: bold;
}

/*--------------------------------- newsfeed -------------------------------*/
.left_column_sub_category ul{
    list-style-type: none!important;
}
.left_column_sub_category ul a li:hover{
    background-color: #888888;
    border-radius: 3px;
    color: #fff;
    display: block;
    padding-left: 4px;
    font-weight: bold;
}