/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2014, 4:05:42 PM
    Author     : Tanveer
*/

.padding_horiz_thin
{
    display: inline-block;
    width: 100%;
    height: 10px;
}