/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2014, 4:05:42 PM
    Author     : Tanveer
*/


/*================================  ALL PAGES  ================================*/
.mm_input
{
    width:100%;  
    height:30px;  
    padding:4px 10px;  
    font-size:12px;  
    color:#555;      
    background-color:#fff;  
    background-image:none;  
    border:1px solid #ccc;  
    border-radius:2px;  
}



/*================================  SECTIONS  ================================*/
#mm_friend_request {
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-image: url('../images/fb_icons.png');
    background-position: 0 -515px;
}

#mm_messages {
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    width: 32px;
    background-image: url('../images/fb_icons.png');
    background-position: 0 -322px;
}

#mm_notification {
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    width: 35px;
    background-image: url('../images/fb_icons.png');
    background-position: 0 -610px;
}

/*================================  pagelets  ================================*/
.comment_box{
    
}
.pagelet_title img{
    width: 30px;
    height: 30px;
    padding-right: 30px;
}
.pagelet_title{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
.pagelet{
    background-color: white;
    padding: 15px;
    margin-bottom: 1px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
.pagelet_divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
.user_comment{
   padding: 5px 0px 5px 0px; 
}




/*================================  Landing Page  ================================*/
/*================================  Hridoys css  ================================*/

.ticker_friends{
    background-color: #E9EAED;
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
}
.ticker_friends:hover,
.message_friends_box:hover,
.message_friends:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.message_friends{
    background-color: white;
    font-size: 12px;
    padding: 10px;
    border: 1px solid lightgray;
}
.message_friends_box,.message_friends_box_1{
    background-color: white;
    font-size: 12px;
    padding: 10px;
}
.message_text:hover{
    cursor: pointer;
    opacity: 0.7;
}
.message_friends_divider_full,.message_friends_divider_others{
    padding: 10px;
    border: 1px solid lightgray;
    border-top: 0px;
}
.message_friends_divider_full{
    border-top: 1px solid lightgray;
}
