/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2015, 1:06:42 PM
    Author     : Redoy
*/


/*================================  videos  ================================*/
/*================================  Ticker Friend  ================================*/

.ticker_friends{
    background-color: #E9EAED;
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
}
.ticker_friends:hover,
.message_friends_box:hover,
.message_friends:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.message_friends{
    background-color: white;
    font-size: 12px;
    padding: 10px;
    border: 1px solid lightgray;
}
.message_friends_box,.message_friends_box_1{
    background-color: white;
    font-size: 12px;
    padding: 10px;
}
.message_text:hover{
    cursor: pointer;
    opacity: 0.7;
}
.message_friends_divider_full,.message_friends_divider_others{
    padding: 10px;
    border: 1px solid lightgray;
    border-top: 0px;
}
.message_friends_divider_full{
    border-top: 1px solid lightgray;
}

/*================================  pagelets  ================================*/
.comment_box{
    
}
.pagelet_title{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
.pagelet{
    background-color: white;
    padding: 15px;
    margin-bottom: 1px;
    box-shadow: 0 0 1px #bbb;
}
.pagelet_divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
.user_comment{
   padding: 5px 0px 5px 0px; 
}

/*================================  videos  ================================*/

.is_clicked{
    display: block;
    float: left;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
  height: 20px;
}
.left-inner-addon i {
  position: absolute;
  padding: 6px;
}

.video_ul,.category_ul{
    list-style-type:none;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    margin: 0;
}
.video_ul{
     padding:  15px 15px 15px 0;
     font-size: 13px;
}
.category_ul{
    padding: 0;
     font-size: 10px;
}

.video_ul li:hover,.category_ul li:hover{
    display: block;
    text-decoration: none;
    line-height: 22px;
    cursor: pointer;
}
.video_ul li:hover{
    background-color: lightsalmon;
    color: #703684;
    padding-left: 3px;
}
.category_ul li:hover{
    background-color: #703684;
     color: #fff;
     padding-left: 4px;
}
a{
    color: black; 
    font-size: 12px; 
    font-weight: bold;
    text-decoration: none!important;
}
.col_md_2_extended{
    width: 18.6667%;
}
.col_md_7_reduced{
    width: 56.3333%;
}

.category_divider{
    border-bottom: 1px solid lightgray;
}
